<div class="like-modal">
  <div class="like-container">
    <img src="{{asset 'liked.png'}}" class="liked"/>
  </div>
  <h3>COMPLETED</h3>
  <p>Yout requests has submitted<br>successfully</p>
  <button class="resend-btn">Resend</button>
</div>

<div class=container>
  <div class="loader-container">
  	<img src="{{asset 'loading.png'}}" class="loading-icon"/>
  </div>
</div>

<div id="assets" 
    data-sad="{{asset 'sad.png'}}" 
    data-confused="{{asset 'confused.png'}}"
    data-smile="{{asset 'smile.png'}}"
    data-happy="{{asset 'happy-face.png'}}"
    data-very-happy="{{asset 'very-happy.png'}}"
    data-star="{{asset 'star-default.png'}}"
    data-heart="{{asset 'heart-icon.png'}}"
    data-arrow="{{asset 'right.png'}}"
    data-check="{{asset 'check.png'}}"
    data-cross="{{asset 'cross.png'}}">
</div>

<div class="not-found-container">
  <h1>404 ERROR</h1>
  <h3>Page not found</h3>
  <img src="{{asset 'wifi.png'}}"/>
</div>